img {
  display:none;
}

ins, .wp-caption, .dt_sidebar, .fb-comments, h3, .post-nav-wrapper, .post-meta, .simple-share, .cat-wrapper, footer.footer, .go-top-button  {
  display:none !important;
}

.post-header h1 {
  font-size:2em;
}

.post-content {
  margin:0 !important;
  width:100% !important;
  padding:0 !important;
}

.col-md-8 {
	width:100% !important;
}

.post-drop-caps > p:first-child:first-letter, .drop-caps {
	float: none !important;
    color: #000 !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    font-family: "Roboto Slab";
}
